.NavContainer{
  width: 100%;
  background: #5CC5EA;
  padding: 0;
  display: flex;
  -webkit-appearance: unset;
}

.SignUpContainer{
  margin-left: auto;
  align-self: baseline;
  position: relative;
}

#SignUp{
  background: #33B7E5;
  margin: 1vh;
  line-height: 5vh;
  width: 20vh;
  font-family: 'Open Sans Condensed', sans-serif; font-size: 150%; letter-spacing: -.25px; color: white; font-weight: 100;
}

#Logo{
  margin: 1vh;
  height: 5vh;
  width: auto;
  background: white;
  text-align: center;
  line-height: normal;
  vertical-align: middle;
  font-family: 'Josefin Slab', serif;
  letter-spacing: -.25px;
  color: black;
}
