/* Inbuilt elements */

body{
  background: #33B7E5;
  margin:0;
	padding: 0;
}

button{
  border: 0;
  border-radius: 2px;
}

input{
  background: white;
  border: 3px;
  border-color: black;
  border-radius: 2px;
  width: 70%;
  line-height: 2;
  margin: 1%;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
}

li{
  padding-left: 0%;
}
/* Classes */

.RC1{
  max-height: 300px; max-width: 400px; min-width: 290px;
  margin:auto;
  padding: 0 2vw;
  align-self: center;
  height: 100%;
}
.LogInContainer{
  background: #5CC5EA;
  position: relative;
  margin-top: auto; margin-bottom: auto;
  margin-left: auto; margin-right: auto;
  width: 100%; padding-bottom: 140%; height: 0;
  border-radius: 2px;
}

.Heading{
  text-align: center;
  padding-top: 15%;
  font-family: 'Josefin Slab', serif; font-size: 300%;
  letter-spacing: -.25px; color: white;
  line-height: 110%;
  font-weight: bold;
}

.InternalContainer{
  list-style: none;
  padding-top: 10%;
  padding-left: 0;
}

.FormGroup{
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline;
  padding: 0;
}

.errors{
  font-family: 'Open Sans Condensed', sans-serif;
  display: inline;
  padding: 10% 0 0 0;
  color: white;
  list-style: none;
  text-align: left;
}

.error{
  margin-left: 14%;
  font-size: 80%;
}

.break{
  height: 1vh;
}
/* ID's */

#LogIn{
  padding: 0;
  text-align: center;
}

#Password{
  padding: -10%;
  text-align: left;
}


#SubmitButton{
  width: 72%;
  -webkit-appearance: none;
  line-height: 2;
  padding-left: 1%;
  font-size: 100%;
  background: white;
}

#Google{
}
